
.gc-product-page {
    margin-top: 20px;
    margin-bottom: -20px;
    background: $gcebonyshade;
  
    [class^="govuk-heading-"],
    [class^="govuk-body-"],
    .govuk-breadcrumbs__list-item,
    .govuk-breadcrumbs__link,    
    .govuk-label,
    .govuk-back-link,
    .govuk-link,
    .govuk-caption-l,
    a {
      color: $white    
    }
    .govuk-back-link {
      border-bottom: 1px solid $white;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .govuk-back-link:focus,
    .govuk-link:focus {
      color: $black;
      border-bottom: 1px solid $black 
    }
   } 
  