<div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        </div>
    
    
    
        <div class="govuk-grid-column-one-third">
    
            <h2 class="govuk-heading-m">
                Related information
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list">
                    <li>
                        <a class="govuk-link"
                            href="https://www.gamblingcommission.gov.uk/for-gambling-businesses/Do-I-need-a-licence/Types-of-operating-licence.aspx"
                            target="_Blank">
                            Licensed activity information
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link"
                            href="http://www.gamblingcommission.gov.uk/for-gambling-businesses/Compliance/LCCP/Licence-conditions-and-codes-of-practice.aspx"
                            target="_Blank">
                            Licence conditions and codes of practice
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link"
                            href=" https://www.gamblingcommission.gov.uk/news-action-and-statistics/Regulatory-action/Regulatory-action.aspx"
                            target="_Blank">
                            Regulatory action
                        </a>
                    </li>
    
                </ul>
            </nav>
    
        </div>
    
        <div class="govuk-grid-column-one-third">
    
            <h2 class="govuk-heading-m">
                Complaints
            </h2>
            <p class="govuk-body">If you want to make a complaint about a gambling business, you can <a class="govuk-link"
                    href="https://www.gamblingcommission.gov.uk/for-the-public/Your-rights/Complaints.aspx" target="_Blank">
                    find information on our website
                </a> about how to do this.
    
    
            </p>
    
        </div>
    
        <div class="govuk-grid-column-one-third">
    
            <h2 class="govuk-heading-m">
                Help and support
            </h2>
            <p class="govuk-body">If you or someone you know is struggling with gambling activity, you can find the details
                of <a
                    href="https://www.gamblingcommission.gov.uk/for-the-public/Safer-gambling/Getting-help-to-control-your-gambling.aspx#Organisations_that_provide_help"
                    target="_blank">organisations who can help</a> on our website.</p>
        </div>
    
    </div>
    