<!-- Javascript -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
{% for scriptUrl in extensionConfig.scripts %}
<script src="{{scriptUrl}}"></script>
{% endfor %}

<script src="/public/javascripts/application.js"></script>

{% if useAutoStoreData %}
<script src="/public/javascripts/auto-store-data.js"></script>
{% endif %}


<script type="text/javascript">
  var mouseflowCrossDomainSupport = true;
  window._mfq = window._mfq || [];
  (function() {
        var mf = document.createElement("script");
        mf.type = "text/javascript"; mf.async = true;
        mf.src = "//cdn.mouseflow.com/projects/c7036972-625c-436b-b9e2-f80f89ff6e72.js";
        document.getElementsByTagName("head")[0].appendChild(mf);
    })();
</script>

<script src="//cdn.ckeditor.com/ckeditor5/12.2.0/classic/ckeditor.js"></script>

<script>
  ClassicEditor
    .create(document.querySelector('.editor'), {
      toolbar: ['heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList'],
      heading: {
        options: [{
          model: 'paragraph',
          title: 'Normal text',
          class: 'ck-heading_paragraph'
        }]
      }
    })
    .catch(error => {
      console.log(error);
    });
</script>

