$govuk-global-styles: true;

$path: "/public/images/";
@import "gc-patterns/gc-colors";
@import "node_modules/govuk-frontend/govuk/all";

@import "gc-patterns/gc-typography";
@import "gc-patterns/gc-position";

@import "gc-patterns/gc-currency";
@import "gc-patterns/gc-vertical-menu";
@import "gc-patterns/gc-hero";
@import "gc-patterns/gc-overrides";

$nta-light: 'Oxygen',sans-serif;