$gcebony: #242e46;
$gcebonyshade: #3d4d76;
$gccopper: #964c54;
$gcscorpion: #5e5e5e;
$white: #ffffff;
$black: #0b0c0c;
$jaffa: #eb6a36;
$gcviolet: #9c1482;
$gcapple: #669734;
$grey-1: #6f777b;
$grey-2: #bfc1c3;
$grey-3: #dee0e2;
$grey-4: #f8f8f8;
